*{
	margin:0; padding:0; list-style:none; text-decoration: none; color:white;
}

body{
	font-family:  'Lucida Console', Monaco, monospace;
	/*font-family: Arial, Helvetica, sans-serif;*/
	background: url(../img/bg.jpg) fixed;
	/*background: url(../../images/bg/wood.jpg) repeat-x fixed;*/
}

header{
	margin: 10px 0 20px 0;
	height: 40px;	
}
iframe{
	height: 100%;
	width: 100%;
	border: none;	
}

#header_left, #header_center{
	background: url(../img/n80.png) repeat;
	border-radius: 10px;
	height: 32px;
	line-height: 30px;	
}

#header_left{
	text-align: center;
}

#header_center p{
	margin-left: 15px;
}

.lista {
	box-shadow:0px 0px 14px 2px rgba(50, 50, 50, 0.8);
	border-bottom: solid 1px #eae9e9;
	border-right: solid 1px #eae9e9;
	border-radius: 5px;
	background: url(../img/n60.png) repeat;
	text-align: left;
	margin-bottom: 2px;
	font-size: 0.8em;

}

.lista h4{
	padding: 10px 0 10px 0;
	text-align: center;
	font-size: 14px;
}

.lista li{
	border: 1px solid gray;
	padding-left: 5px;
}
.lista a{
	color:white;
	height: 30px;
	display: block;
	width: auto;
	font-weight: bold;
	font-variant: small-caps;
	text-decoration: none;
	padding: 15px 0 0 35px;
}
.lista a:link, .lista a:visited {
	background: url(../img/config0.png) no-repeat left;
}
.lista a:hover, .lista a:active {
	background: url(../img/config1.png) no-repeat left;
	color: #ff9600;
	padding-left: 40px;
	transition: all 0.4s;
}


#logout{
	background: url(../img/logout2.png);
	background-repeat: no-repeat;
	display: block;
	float: right;
	width: 32px;
	height: 32px;
}

#logout > span {
	display: none;
}

#central{
	width: auto;
	height: 800px;
}

#pie{
	margin: 20px 0 2px 0;	
	height: 35px;
	line-height: 35px;
	
	background: url(../img/n80.png) repeat;
	text-align: center;	
	color: white;
}